ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    border-right:1px solid white;
}

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        
        li a:hover {
            background-color: grey;
        }

    .container{
        background-color: crimson;
        width:817px;
        height:270px;
        color:white;
        text-align:center;
    }
.info {
    width: 400px;
    height: 250px;
    border: 3px solid black;
    color: black;
    margin-top: 5px;
    float: left;
    
}
        .info:hover{
            background-color:lightgray;
        }
.info2 {
    width: 400px;
    height: 250px;
    border: 3px solid black;
    color: black;
    display:inline-block;
    float:left;
    margin-left:5px;
    margin-top:5px;
    

}

    .info2:hover{
        background-color:lightgray;
    }