/*.container{
    width:1000px;
    height:50px;
    background-color:grey;
    color:white;
    border-bottom:5px solid crimson;*/
    
}
a{
    padding 5px;
    text-decoration:none;
    color:white;
}